<!DOCTYPE html>
<html>
<head>
    <title>My Webpage</title>
</head>
<body>

    <h1>liste de combatants : </h1>
    {% for combatan in combatans %}
        <div class="container">
            <ul id="navigation">
                <li><p>id : {{ combatan.id }}</p></li>
                <li><p>nom : {{ combatan.nom }}</p></li>
                <li><p>force : {{ combatan.force }}</p></li>
                <li><p>santé : {{ combatan.sante }}</p></li>
                <li><p>lvl : {{ combatan.niveau }}</p></li>
            </ul>
        </div>
    {% endfor %}



<style>
    .container {
        border: 1px solid black;
    }

</style>
</body>
</html>